# Generic ignore patterns
*~
*.o
*.a
*.moc
.git

# Logs etc.
**/*.log

# Windows project stuff
**/bin
**/obj
**/*.suo
*.cache

# Monodevelop project stuff
**/*.userprefs
**/*.pidb
*.userprefs
bin

# Windows runtime
*.exe
*.ilk
*.pdb
*.msi

# Windows clutter
*.db

# Performance report files
*.psess
*.vsp
*.vspx

# don't distribute KSP binaries
Assembly-CSharp.dll
Assembly-CSharp-firstpass.dll
UnityEngine.dll
**/*.dll

# retain select dlls
!System.Data.SQLite.dll
!SQLite.Interop.dll
!sqlite3.dll

#NuGet
packages/
*.nupkg
