# Generic ignore patterns
*~
*.o
*.a
*.moc
.git

# Logs etc.

# Windows project stuff
/bin
/obj
KLFClient/bin
KLFClient/obj
KLFServer/bin
KLFServer/obj
KLFServerList/bin
KLFServerList/obj


# Windows runtime
*.exe
*.ilk
*.pdb
*.msi

# Windows clutter
*.db