# Generic ignore patterns
*~
*.o
*.a
*.moc
.git

# Logs etc.

# Windows project stuff
/bin
/obj
KLFClient/bin
KLFClient/obj
KLFServer/bin
KLFServer/obj
KLFServerList/bin
KLFServerList/obj


# Windows runtime
*.exe
*.ilk
*.pdb
*.msi

# Windows clutter
*.db

# KSP binaries
Assembly-CSharp.dll
Assembly-CSharp-firstpass.dll
UnityEngine.dll
/KMPServerList/obj/Release/DesignTimeResolveAssemblyReferencesInput.cache
/KerbalMultiPlayer.v11.suo
/KMPServerList/obj/Release/KMPServerList.dll
/KMPServerList/bin/KMPServerList.dll
/KMPServerList/obj/Release
/KMPServerList/obj/Release/KMPServerList.csproj.FileListAbsolute.txt
/KMPServerList/obj/Release/KMPServerList.csprojResolveAssemblyReference.cache
