<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <system.serviceModel>
        <bindings>
            <basicHttpBinding>
                <binding name="BasicHttpBinding_IReport" />
            </basicHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:54080/Report.svc" binding="basicHttpBinding"
                bindingConfiguration="BasicHttpBinding_IReport" contract="ServerList.IReport"
                name="BasicHttpBinding_IReport" />
        </client>
    </system.serviceModel>
</configuration>